.container {
  max-width: 1595px;
  width: 100%;
  margin: auto;
  background: #fff;
  padding: 30px;
  border-radius: 12px;
  border: 1px solid #f1f1f3;
}

.row {
  display: flex;
  justify-content: center;
}

.brand__item {
  border-left: 1px solid #eee;
  padding: 30px 65px;
}

.brand__item:first-child {
  border-left: 1px solid transparent;
}

/* .brand__item img {} */