.container {
  max-width: 1595px;
  width: 100%;
  margin: auto;
  background: #fff;
  padding: 30px;
  border-radius: 12px;
  border: 1px solid #f1f1f3;
}

.brand__item {
  padding: 30px 40px;
  text-align: center;
  border-left: 1px solid #eee;
}

.brand__item:first-child {
  border-left: 1px solid transparent;
}

.swiper {
  display: flex;
}