a.logo {
  width: 54px;
  height: 54px;
  display: block;
  padding: 7px;
  background: var(--orange);
  border-radius: 8px;
}

a.logo img {
  padding: 4.17px 3.33px 4.17px 3.33px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
