:root {
  --orange: #FF9500;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Be Vietnam Pro", sans-serif;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

button {
  border: none;
  background: transparent;
  cursor: pointer;
}

body {
  line-height: 1.5;
  font-size: 1rem;
  background: #F7F7F8;
}

address {
  font-style: normal;
}